#wrapper{
	border: 1px black solid;
	width:100%;
	height:100% ;

}
.block{
	border: 1px black solid;
	margin: 3px;
	text-align: center;
	width: 99.5%;
	margin-bottom: 10px;
	height: 100px;
}
.mainblock{
	border: 1px black solid;
	margin: 3px;
	height: 500px;
	width: 80%;
	float: left;
	margin-bottom: 10px;
}
.sideblock{
	border: 1px black solid;
	margin: 3px;
	height: 500px;
	width: 19%;
	text-align: center;
	float: left;
	margin-bottom: 10px;

}
.footerblock{
	clear: both;
	border: 1px black solid;
	margin: 3px;
	text-align: center;
	width: 99.5%;
}

ul{
	list-style: none;
	margin:0;
	padding: 0;
}
a{
	display: block;
	text-align: center;
	text-decoration: none;
	float: left;
	width:100px;
	line-height: 100px;

}
a:hover{
background-color: black;

}
.DivClass1 {
	width: 300px;
	float: left;
	background-color: red;
	margin: 25px;
}
.DivClass2 {
	width: 300px;
	float: left;
	background-color: blue;
	margin: 25px;
}
.DivClass3 {
	width: 300px;	
	float: left;
	background-color: green;
	margin: 25px;
}